:root {
    --stcbank-purrple: 79, 0, 140;
    --stcbank-green: 3, 187, 134;
    --stcbank-ligter-black: 29, 37, 45;
    --stcbank-gray: 144, 154, 159;
    --stcbank-light-gray: #FAFBFC;
    --stcbank-error: #DF4646;
    --stcbank-white: #fff;
    --stcbank-black: #000;
    --stcbank-font: "STC-Forward";
}
